.header__logo {
    width: 142px;
    height: 33px;

    margin: 0 0 41px 0;

    background-image: url(../../../images/__logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 104px;
        height: 24px;

        margin: 0 auto 32px 10%;
    }

}